div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') PDA

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='#',ui-sref='{{item.state}}',ng-if='item.state') {{item.title}}
          a(ng-href='{{item.link}}',ng-if='!item.state') {{item.title}}
        li
          a(ng-click='logout()',ng-href='#') Log out
    .row.command-line
      form(ng-submit='processCommand()')
        Command
        input.form-control(type='text',name='command',ng-model='command',ng-model-options="{debounce: {'default': 250, 'blur': 0}}")
        input(type='submit',style='display:none')
        .command-feedback(ng-bind-html='commandFeedback')
        ul.feedback
          li(ng-repeat='f in feedback', class='{{f.status}}') {{f.data}}