div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    h1 Graph
    p
      label Start:
      div(date-input,ng-model='startDate')
      label  End:
      div(date-input,ng-model='endDate')
      button(ng-click='update()') Update
    time-graph(chart-data='records')