div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12
      div.btn-group-vertical
        button.btn.btn-default.btn-activity(ng-repeat='activity in sequenceToday track by $index',ng-click='track(activity, $index)',ng-href='#',class='{{sequenceStates[$index]}}',ng-show='$index >= lastIndex') {{activity}}
      p 
        a(href='http://quantifiedawesome.com') All
  .row
    .col-lg-12
      div.btn-group-vertical
        button.btn.btn-default.btn-activity(ng-repeat='category in categories track by $index',ng-click='trackById(category.id, $index)',ng-href='#',class='{{categories[$index].cssClass}}') {{category.full_name}}
      p 
        a(href='http://quantifiedawesome.com') All
      
footer.footer
  .container
    p
      | Quantified PDA 
      = ' | '
      a(href='https://twitter.com/sachac') @sachac


