div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    p
      label Start:
      div(date-input,ng-model='startDate')
      label  End:
      div(date-input,ng-model='endDate')
      button(ng-click='update()') Update
    receipt-analysis(chart-data='receiptItems')
    table.table.table-condensed.table-bordered#receipt-items
      thead
        tr
          td Date
          td Name
          td Friendly name
          td.text-right Quantity
          td.text-right Unit price
          td.text-right Total
      tbody

